.productLists {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
  
.productListsHeader {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #33333323;
    padding-bottom: 15px;
}

.productListsHeader span {
    font-size: 24px;
    font-weight: 600;
}

.productListsProducts {
    display: flex;
    gap: 20px;
}

.productListsProducts_Cat {
    width: 220px;
    display: flex;
    flex-direction: column;
}

.productListsProducts_Cat ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.productListsProducts_Cat ul span {
    font-size: 22px;
    font-weight: 500;
    cursor: pointer;
}

.productListsProducts_Cat ul li {
    cursor: pointer;
    padding: 5px;
    padding-left: 10px;
}

.productListsProducts_Cat ul li:hover {
    background-color: rgba(0, 0, 0, 0.043);
    border-radius: 5px;
}